$font-size-main: 16px;

$font-weight-thin: 200;
$font-weight-regular: 300;
$font-weight-bold: 400;
$font-weight-heavy: 600;

$font-color-light: #fff;
$font-color-dark: #000;

$color-link: #F7776D;
$color-link-hover: #000;

$media-break-mobile-lg: 30em;
$media-break-tablet: 48em;
$media-break-desktop: 64em;
