@import "variables";
@import "buttons";

/***********************************/
/* General
/***********************************/

html, body {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: $font-size-main;
  font-weight: $font-weight-regular;
  color: $font-color-dark;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  text-decoration: none;
  text-align: left;
  padding: 0;
}

.active {
  color: $font-color-light !important;
  background-image: linear-gradient(to top, #AAA, #666);
}

.transition {
  transition: all 0.5s ease-in-out;
}

.section-header {
  padding: 2rem 2rem;
  @media only screen and (min-width: $media-break-mobile-lg) {
    padding: 2rem 4rem;
  }
}
/***********************************/
/* Small Media - min-width: 320px */
/***********************************/

/* Header Fonts */
/****************/
h1,
h2,
h3,
h4 {
  font-weight: $font-weight-regular;
  margin: 0;
}

h1 {
  font-size: 2.25rem;
  @media only screen and (min-width: $media-break-tablet) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2rem;
  padding: 0;
  @media only screen and (min-width: $media-break-tablet) {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.35rem;
}

h5 {
  font-size: 1.25rem;
  font-weight: $font-weight-bold;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Navigation */
/**************/
.nav-fixed {
  height: 3rem;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: rgba(255, 255, 255, 0.0);
  @media only screen and (min-width: $media-break-tablet) {
    justify-content: space-between;
  }
}

.nav-title-container {
  max-width: 767px;
  opacity: 0;
  display: none;
  @media only screen and (min-width: $media-break-tablet) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto 20px;
  }
}

.nav-title {
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.nav-title-sm {
  font-size: 0.8rem;
  align-self: center;
}

.nav-list {
  white-space: nowrap;
  padding: 0;
  margin: 0;
  height: 3rem;
  display: flex;
  align-items: center;
}

.nav-list-item {
  font-size: 0.75rem;
  font-weight: $font-weight-bold;
  display: inline;
  list-style: none;
  line-height: 3rem;
  margin: auto 0.5rem;
  padding: 0 0.25rem 0 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: $font-color-light;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  @media only screen and (min-width: $media-break-tablet) {
    font-size: 1rem;
    margin: auto 1.25rem;
    letter-spacing: 0.25rem;
  }
}

@media only screen and (min-width: $media-break-tablet) {
  .nav-main {
    position: fixed;
  }

  .nav-to-right {
    left: 100%;
    transform: translateX(-100%);
  }

  .nav-center {
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Header Section */
/******************/
.header {
  width: 100%;
  height: 100vh;
  position: relative;
  color: $font-color-light;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #4A7BB5;
  background-image: url("../img/seattle-skyline-blur3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 85%;
  background-attachment: fixed;
  isolation: isolate;
}

.header-content {
  text-align: center;
  margin: auto;
}

.header-linebreak {
  width: 14rem;
  margin: 1rem auto;
  border-bottom: 0.08rem solid white;
  @media only screen and (min-width: $media-break-tablet) {
    width: 18rem;
    border-bottom: 0.08rem solid #fff;
  }
}

.icon {
  display: inline;
  mix-blend-mode: screen;
  height: 2rem;
  padding: 0 0.5rem;
  @media only screen and (min-width: $media-break-tablet) {
    height: 3rem;
  }
}

/* About Section */
/*****************/
.about {
  color: $font-color-light;
  background-image: linear-gradient(to top, rgba(54,105,158,0.6) 0%,rgba(20,50,81,0.6) 100%), url("../img/about-bg.jpg");
  padding: 0 2%;
  padding-bottom: 2rem;
}

.about-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media only screen and (min-width: $media-break-tablet) {
    max-width: 1200px;
    padding: 0 4rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.about-portrait {
  width: 10rem;
  @media only screen and (min-width: $media-break-tablet) {
    width: 12rem;
  }
}

.about-description {
  margin: 0.25rem 1rem;
  font-size: 1rem;
  font-weight: $font-weight-thin;
  letter-spacing: 0.05rem;
  flex: 1;
  p:first-child {
    margin-top: 0;
  }
  a {
    margin-top: 1rem;
  }
  @media only screen and (min-width: $media-break-tablet) {
    margin-left: 2rem;
  }
}

.resume {
  margin-top: 1.5rem;
}

.skills {
  font-size: 0.875rem;
  text-align: center;
  font-weight: $font-weight-thin;
  line-height: 1.25rem;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 1 100%;
  h4 {
    width: 100%;
  }
  ul {
    flex: 1 1 50%;
    @media only screen and (min-width: $media-break-mobile-lg) {
      flex: 1 30%;
    }
    @media only screen and (min-width: $media-break-desktop) {
        flex: 1 15%;
        &:nth-child(6) {
          padding-right: 0.75rem;
        }
    }
  }
  li:first-child {
    font-weight: $font-weight-heavy;
    margin-bottom: 0.5rem;
  }
  @media only screen and (min-width: $media-break-tablet) {
    max-width: 75rem;
    margin: 1rem auto;
    min-width: 37.5rem;
    width: 75%;
  }
  @media only screen and (min-width: $media-break-desktop) {
    width: 100%;
  }
}

.skills-growing {
  margin-top: 0.5rem;
  font-style: italic;
}

/* Projects Section */
/********************/
.projects {
  position: relative;
  padding: 0 2%;
  padding-bottom: 6rem;
  color: $font-color-dark;
  background-color: #fff;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%,rgba(255,255,255,0.8) 100%), url('../img/sea-bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  isolation: isolate;
}

.section-header-projects {
  padding: 2rem;
  p {
    margin-top: 2rem;
    font-size: 1.1rem;
    text-align: center;
  }
  @media only screen and (min-width: $media-break-mobile-lg) {
    padding: 2rem 4rem;
  }
}

.projects-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex: 1 1 20%;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
}

.projects-card {
  margin: 0 2% 1rem;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 1px 2px 3px #888;
  @media only screen and (min-width: $media-break-mobile-lg) {
    margin: 0 2% 1rem;
    flex: 1 1 40%;
    max-width: 48%;
  }
  @media only screen and (min-width: $media-break-tablet) {
    margin: 0 1% 1rem;
    flex: 0 1 30%;
  }
}

.projects-card-thumb {
  margin: 0;
	padding: 0;
	position: relative;
	display: block;
	overflow: hidden;
  cursor: pointer;
  &:hover {
    figcaption {
    	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    	filter: alpha(opacity=100);
    	opacity: 1;
    	top: 0;
    }
    .project-img {
    	transform: scale(1.1);
      @media only screen and (min-width: $media-break-tablet) {
        -webkit-filter: blur(2px);
        filter: blur(2px);
      }
    }
  }
}

.project-img {
  max-width: 100%;
  height: auto;
  display: block;
  align-self: center;
  transition: all 0.3s;
}

figcaption {
  position: absolute;
  font-size: 1.2rem;
  height: 100%;
  width: 100%;
  color: $font-color-light;
  opacity: 0;
  display: flex;
  background: rgba(0,0,0,.7);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter: alpha(opacity=0);
  transition: all 0.6s ease;
  a {
    transition: 0.2s ease;
    &:hover {
    	font-size: 1.4rem;
    }
  }
  img {
    transition: 0.2s ease;
    &:hover {
      transform: scale(1.15, 1.15);
    }
  }
}

.project-thumb-caption {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-thumb-divider {
  position:absolute;
  left:50%;
  top:10%;
  bottom:10%;
  border-left:1px solid white;
}

.projects-card-details {
  padding: 0.5rem 1rem;
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.projects-card-details-tech {
  font-size: 0.8rem;
}

.projects-footer {
  margin-top: 2rem;
  font-size: 1.1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a {
    color: $color-link;
    font-weight: $font-weight-heavy;
    &:hover {
      color: $color-link-hover;
    }
  }
  @media only screen and (min-width: $media-break-mobile-lg) {
    flex-direction: row;
  }
}

/* Contact Section */
/*******************/
.contact {
  padding: 0 2%;
  min-height: calc(100vh - 98px);
  padding-bottom: 3rem;
  color: $font-color-light;
  background-color: #333;
  background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.8) 0%,rgba(25,25,25,0.8) 100%), url('../img/sea-bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
}

.contact-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-icons-group {
  margin: 3rem 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media only screen and (min-width: $media-break-tablet) {
    margin: 4rem 0;
    max-width: 50%;
  }
}

/* Footer Section */
/********************/
footer {
  height: 3rem;
  width: 100%;
  margin-top: -3rem;
  font-size: 0.8rem;
  text-align: center;
  color: $font-color-light;
}
