/*@-moz-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@-o-viewport {width: device-width;}
@viewport {width: device-width;}*/

html, body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  /*font-size: 16px;*/
  font-weight: 300;
  box-sizing: border-box;
}

/***********************************/
/* General Transitions
/***********************************/
.transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/***********************************/
/* Small Media - min-width: 320px */
/***********************************/

/* Header Fonts */
h1 {
  font-size: 2.25rem;
  font-weight: 300;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
}

/* Navbar */
.bg {
  background: #FFF;
  width: 100%;
  height: 5rem;
  opacity: 0;
  z-index: -1;
  position: fixed;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  line-height: 2rem;
}

.show {
  opacity: 0.9;
}

.list {
  position: inline-block;
  text-align: center;
  border: 1px solid red;

}

ul {
  position: relative;
  white-space: nowrap;
  transition: all 1s ease;
  padding: 0px;
  margin: 0.75rem 0 0 0;
  display: inline-block;

}

li {
  font-size: 0.75rem;
  font-weight: bold;
  display: inline;
  list-style: none;
  margin: auto 0.75rem;
  padding: 1rem 0px;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.li-show {
  color: #000;
  text-shadow: none;
}
/* https://codepen.io/willpaige/pen/zeqHd */
/* https://codepen.io/mrmlnc/pen/gpKbXM */

/*.to-right {
  left: 100%;
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}*/

.to-tab {
  left: 25%;
  -moz-transform: translateY(2rem);
  -ms-transform: translateY(2rem);
  -webkit-transform: translateY(2rem);
  transform: translateY(2rem);
}

/*.to-center {
  left: 50%;
-moz-transform: translateX(-50%);
-ms-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
}*/

.nav-title {
  transition: all 1s ease;
  font-weight: bold;
  display: inline-block;
  margin: 50%;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: #FFF;
  opacity: 0;
}

.nav-title-sm {
  position: absolute;
  font-size: 0.3rem;
  margin: 0 0 -5px 10px;
}

/* Header Title Object */
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #111;
  background-image: url(img/mountain-mist-bg-1080.jpg);
  background-size: cover;
  background-repeat: no-repeat;
/*   background-attachment: fixed; */
  background-position: 0;
  isolation: isolate;
}

.title {
  color: white;
  text-align: center;
  margin: auto;
}

.title-linebreak {
  width: 10rem;
  margin: 1rem auto;
  border-bottom: 0.08rem solid white;
}

.icon {
  display: inline;
  mix-blend-mode: screen;
  height: 2.5rem;
  padding: 0 0.5rem;
}

.about {
  height: 1000px;
  background: linear-gradient(to bottom right, #000 0%,#2faee5 100%);
}

.content {
  height: 500px;
  background-color: #333;
}


/* MEDIA */
/*  480px breakpoint  */
@media only screen and (min-width: 30em) {
  body {
    background: orange; } }

/*  768px breakpoint  */
@media only screen and (min-width: 48em) {
  /* MAIN CODE */


  h1 {
    font-size: 3rem;
    font-weight: 300;
    margin: 0;
  }

  h2 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
  }

  .bg {
    background: #FFF;
    width: 100%;
    height: 60px;
    opacity: 0;
    z-index: -1;
    position: fixed;
  }

  .show {
    opacity: 0.9;
  }

  .transition {
    -webkit-transition: all 0.5s ease-in-out;
  	-moz-transition: all 0.5s ease-in-out;
  	-o-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
  }

  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    line-height: 60px;
  }

  .list {
    position: fixed;
    text-align: center;
  }

  ul {
    position: relative;
    /*top: 0;*/
    white-space: nowrap;
    transition: all 1s ease;
    padding: 0px;
    margin: 0;
    display: inline-block;
  }

  .to-right {
    left: 100%;
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .to-center {
    left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  }

  li {
    font-size: 1rem;
    font-weight: bold;
    display: inline;
    list-style: none;
    margin: auto 20px;
    padding: 16px 0px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  }

  .li-show {
    color: #000;
    text-shadow: none;
  }
  /* https://codepen.io/willpaige/pen/zeqHd */
  /* https://codepen.io/mrmlnc/pen/gpKbXM */

  .header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #111;
    background-image: url(img/mountain-mist-bg-1080.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  /*   background-attachment: fixed; */
    background-position: 0;
    isolation: isolate;
  }

  .nav-title {
    transition: all 1s ease;
    font-weight: bold;
    display: inline;
    margin: auto 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FFF;
    opacity: 0;
  }

  .nav-title-sm {
    position: absolute;
    font-size: 0.6rem;
    margin: 0 0 -5px 10px;
  }

  .title {
    color: white;
    text-align: center;
    /*margin-left: 12%;*/
    margin: auto;
  }

  .title-linebreak {
    width: 200px;
    margin: 1rem auto;
    border-bottom: 1px solid white;
  }

  .icon {
    display: inline;
    mix-blend-mode: screen;
    height: 60px;
    padding: 0 8px;
  }

  .about {
    height: 1000px;
    background: radial-gradient(at bottom right, #2faee5 0%,#000 100%);
  }

  .content {
    height: 500px;
    background-color: #FFF;
  } }

/*  992px breakpoint  */
@media only screen and (min-width: 62em) {
  body {
    background: red; } }

/*  1200px breakpoint  */
@media only screen and (min-width: 75em) {
 }
