/* Resources: */
/* https://codepen.io/willpaige/pen/zeqHd */
/* https://codepen.io/mrmlnc/pen/gpKbXM */

/*@-moz-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@-o-viewport {width: device-width;}
@viewport {width: device-width;}*/

/***********************************/
/* General
/***********************************/

html, body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none
}

.active {
  color: #fff !important;
  background-image: linear-gradient(to top, #AAA, #666);
}

#jsicon {
  max-height: 3rem;
}

.transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/***********************************/
/* Small Media - min-width: 320px */
/***********************************/

/* Header Fonts */
/****************/
h1 {
  font-size: 2.25rem;
  font-weight: 300;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
}


/* Navigation */
/**************/
.nav-fixed {
  position: fixed;
  background:rgba(255, 255, 255, 0.0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 100%;
  z-index: 1;
}

.nav-title-container {
  max-width: 767px;
  opacity: 0;
  display: none;
}

.nav-title {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.nav-title-sm {
  font-size: 0.8rem;
  align-self: center;
}

.nav-list {
  white-space: nowrap;
  padding: 0;
  margin: 0;
  height: 3rem;
  display: flex;
  align-items: center;
}

.nav-list-item {
  font-size: 0.75rem;
  font-weight: bold;
  display: inline;
  list-style: none;
  line-height: 3rem;
  margin: auto 0.5rem;
  padding: 0 4px 0 8px;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  border-bottom: inside 2px solid blue;
}


/* Header Section */
/******************/
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #4A7BB5;
  background-image: url(img/seattle-skyline-blur3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 85%;
  isolation: isolate;
  background-attachment: fixed;
}

.header-content {
  color: #fff;
  text-align: center;
  margin: auto;
}

.header-linebreak {
  width: 14rem;
  margin: 1rem auto;
  border-bottom: 0.08rem solid white;
}

.icon {
  display: inline;
  mix-blend-mode: screen;
  height: 2rem;
  padding: 0 0.5rem;
}


/* About Section */
/*****************/
.about {
  height: 800px;
  background-image: linear-gradient(to top, rgba(54,105,158,0.6) 0%,rgba(20,50,81,0.6) 100%), url("img/black-bg.jpg");
  /*background-image: linear-gradient(to bottom, rgba(54,105,158,0.7) 0%,rgba(200,225,255,0.7) 100%), url("img/black-bg.jpg");*/
}

.txt {
  font-size: 1rem;
  color: black;
  position: relative;
  margin: 100px auto;
  padding: 0 25px;
}
.txt2 {
  font-size: 1rem;
  color: white;
  position: relative;
  margin: 100px auto;
  padding: 0 25px;
}


/* Projects Section */
/********************/
.projects {
  position: relative;
  height: 1000px;
  background-color: #111;
  background-image: url('img/sea-bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  isolation: isolate;
  background-attachment: fixed;
}


/* Contact Section */
/*******************/
.contact {
  height: 600px;
  background-color: #888;
  background-position: center;
}

/* Contact Section */
/********************/

footer {
  height: 4rem;
  background-color: #333;
}

/* MEDIA */
/*  480px breakpoint  */
@media only screen and (min-width: 30em) {
  body {
    background: orange; } }

/*  768px breakpoint  */
@media only screen and (min-width: 48em) {
  /* MAIN CODE */

/* CHECK THESE LATER  */
  h1 {
    font-size: 3rem;
    font-weight: 300;
    margin: 0;
  }

  h2 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
  }

/* Navigation */
/**************/
  .nav-fixed {
    justify-content: space-between;
  }

  .nav-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto 20px;
  }

  .nav-main {
    position: fixed;
  }

  .nav-to-right {
    left: 100%;
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .nav-center {
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .nav-list-item {
    font-size: 1rem;
    margin: auto 1.25rem;
    letter-spacing: 0.25rem;
  }

  /* Header Section */
  /******************/
  .header {

  }

  .header-content {

  }

  .header-linebreak {
    width: 18rem;
    border-bottom: 0.08rem solid white;
  }

  .icon {
    height: 3rem;
  }


  /* About Section */
  /*****************/
  .about {

  }


  /* Projects Section */
  /********************/
  .content {
    height: 500px;
    background-color: #FFF;
  }


  /* Contact Section */
  /********************/



}

/*  992px breakpoint  */
@media only screen and (min-width: 62em) {
  body {
    background: red; } }

/*  1200px breakpoint  */
@media only screen and (min-width: 75em) {
 }
